export DATABASE_URL=libsql://
export DATABASE_TOKEN=
export DATABASE_PATH=file:/app/data/replica.db
export DATABASE_ENCRYPTION_KEY=

export PRIVATE_KEY=

export CLERK_SECRET_KEY=sk_live_
export CLERK_PUBLISHABLE_KEY=pk_live_
export CLERK_ACCOUNTS_URL=https://

export POSTHOG_PUBLIC_KEY=phc_
export POSTHOG_HOST=https://

export DOMAIN=
export NODE_ENV=production
