compatibility_date = "2024-11-27"
name = "short-url"
main = "src/index.ts"
minify = true

routes = [{ pattern = "x.jrg.tools", custom_domain = true }]

[[d1_databases]]
binding = "DB"
database_name = <database_name>
database_id = <database_id>
migrations_dir = "db/migrations"
